html {
  font-size: 16px;
}
.header {
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid #c6c6c6;
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 138px;
  height: 10px;
  object-fit: contain;
}

.product {
}

.product-title {
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.product-title h1 {
  font-family: Lora;
  font-size: 14px;
  color: #111111;
  padding: 0;
  margin: 0;
}

.product-showcase {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}

.product-showcase-image {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.product-info {
  padding: 1.5rem 1rem 2rem 1rem;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-info-top-price {
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: 18px;
  color: #111111;
  padding: 0;
  margin: 0;
}

.product-info-top-number {
  font-family: Raleway;
  font-size: 12px;
  text-align: center;
  color: #171717;
  padding: 0;
  margin: 0;
}

.product-info-middle {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.product-info-middle-colour {
  margin: 0;
  font-family: Raleway;
  font-size: 12px;
  text-align: left;
  color: #171717;
}

.product-info-bottom {
  margin-top: 1rem;
}
.product-info-bottom-button-colour {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #cfa880;
  border: solid 1px #232122;
}

.product-info-bottom-button-colour.is-active {
  background-color: #232122;
}

.product-info-bottom-button-colour + .product-info-bottom-button-colour {
  margin-left: 1rem;
}

.content-divider {
  margin: 0 1rem 0 1rem;
  border-bottom: 2px solid#c6c6c6;
}

.product-controls {
  padding: 2rem 1rem 3rem 1rem;
  display: flex;
  flex-flow: column;
}

.product-controls-button {
  text-transform: uppercase;
  padding: 1rem 0rem 1rem 0rem;

  font-family: Raleway;
  font-size: 12px;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border: solid 1px #999999;
}

.product-controls-button + .product-controls-button {
  margin-top: 1rem;
}

.product-controls-button + .button-text-only {
  margin-top: 1.5rem;
}

.product-controls-button.button-dark {
  color: #ffffff;
  background-color: #171717;
  border: #171717;
}

.product-controls-button.button-text-only {
  font-family: Raleway;
  font-size: 12px;
  text-align: center;
  color: #171717;
  padding: 0;
  border: none;
  text-align: left;
}

.product-text {
  flex: column;
  border-top: solid 2px #c6c6c6;
  border-bottom: solid 2px #c6c6c6;
}

.product-text-item {
  padding: 2rem 1rem 2rem 1rem; /*Eugene plz fix grid kappa*/
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-text-item+.product-text-item {
  border-top: solid 2px #c6c6c6;
}

.product-text-item-title {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  margin: 0;
}
