html {
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #c6c6c6;

  justify-content: center;
}

@media screen and (min-width: 48rem) {
  .header {
    padding: 1.5rem 0 1.5rem 0;
  }
}

.header-logo {
  display: block;
}

.product-title {
  padding: 1rem 0.5rem 1rem 0.5rem;
  color: #171717;
  font-weight: normal;
  font-size: 20px;
  font-family: Lora, serif;
  line-height: 1.5rem;
}

@media screen and (min-width: 48rem) {
  .product-title {
    padding: 1.5rem 0 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.product-showcase {
  display: flex;
  overflow-x: auto;
  margin: 0 -0.5rem 0 -0.5rem;
  white-space: nowrap;
}

@media screen and (min-width: 48rem) {
  .product-showcase {
    margin: 0;
  }
}

.product-showcase-image {
  height: 400px;

  object-fit: contain;
}

@media screen and (min-width: 48rem) {
  .product-showcase-image {
    height: 576px;

    object-fit: cover;
  }
}

.product-info {
  padding: 1rem 0.5rem 2rem 0.5rem;
}

@media screen and (min-width: 48rem) {
  .product-info {
    padding: 0;
    padding-bottom: 2rem;
  }
}

.product-info-top {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.product-info-top-price {
  margin: 0;
  padding: 0;
  color: #111111;
  font-weight: normal;
  font-size: 16px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.1875;
}

.product-info-top-number {
  margin: 0;
  padding: 0;
  color: #171717;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.167;
}

.product-info-middle-colour {
  margin: 0;
  margin-top: 1rem;
  color: #171717;
  text-align: left;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.34;
}

.product-info-bottom {
  display: flex;
  margin-top: 1rem;
  white-space: nowrap;
}

.product-info-bottom-button-colour {
  width: 40px;
  height: 40px;
  border: solid 1px #232122;
  border-radius: 100px;
  background-color: #cfa880;
  font-size: 0px;
}

.product-info-bottom-button-colour.is-active {
  background-color: #232122;
}

.product-info-bottom-button-colour + .product-info-bottom-button-colour {
  margin-left: 1rem;
}

.content-divider {
  margin: 0 0.5rem 0 0.5rem;
  border: none;
  border-top: solid 1px #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .content-divider {
    margin: 0;
  }
}

.description-divider-mobile {
  margin: 0 -0.5rem 0 -0.5rem;
  border: none;
  border-top: solid 1px #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .description-divider-mobile {
    display: none;
  }
}

.product-controls {
  display: flex;
  padding: 2rem 0.5rem 3rem 0.5rem;

  flex-flow: column;
}

@media screen and (min-width: 48rem) {
  .product-controls {
    padding: 0;
    padding-top: 2rem;
  }
}

.product-controls-button {
  padding: 1rem 0rem 1rem 0rem;
  border: 1px solid #999999;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.2;
}

.product-controls-button + .product-controls-button {
  margin-top: 1rem;
}

.product-controls-button + .button-text-only {
  margin-top: 1.5rem;
}

.product-controls-button.button-dark {
  border: 1px solid #171717;
  background-color: #171717;
  color: #ffffff;
}

.product-controls-button.button-text-only {
  padding: 0;
  border: none;
  color: #171717;
  text-align: left;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.35;

  align-self: flex-start;
}

.product-description {
  flex: column;
}

.product-description-item {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

@media screen and (min-width: 48rem) {
  .product-description-item {
    padding: 1.5rem 0 0 0;
  }
}

.product-description-item-button-wrapper {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  border: 0;
  background: white;

  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 48rem) {
  .product-description-item-button-wrapper {
    margin: 0;
  }
}

.product-description-item-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: white;
}

.product-description-item-button-wrapper::after {
  width: 10px;
  height: 10px;
  background-image: url("../img/triangle.svg");
  content: '';

  object-fit: contain;
}

.product-description-item.is-active .product-description-item-button-wrapper::after {
  transform: rotate(180deg);
}

@media screen and (min-width: 48rem) {
  .product-description-item-button-wrapper::after {
    content: none;
  }
}

.product-description-item-button-title {
  color: #171717;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 20px;
}

.product-description-item-text {
  margin-bottom: 2rem;
  padding: 0;
  color: #171717;
  font-size: 14px;
  font-family: Lora, serif;
  line-height: 1.75;
}

@media screen and (min-width: 48rem) {
  .product-description-item-text {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

.product-description-item-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-description-item-text p {
  margin: 0;
  padding: 0;
}

.product-description-item-return-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 48rem) {
  .product-description-item-return-text {
    margin-bottom: 0rem;
  }
}

.product-description-item-return-text h4 {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.167;
}

.product-description-item-return-text p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.35;
}

.product-description-item-return-text p + h4 {
  margin-top: 1.5rem;
}

.product-shipping-image {
  display: none;
}

@media screen and (min-width: 48rem) {
  .product-shipping-image {
    display: block;
    width: 100%;
  }
}

.recommend {
  padding: 0rem 0.5rem 0rem 0.5rem;
}

@media screen and (min-width: 48rem) {
  .recommend {
    padding: 0;
    padding-bottom: 1rem;
  }
}

.recommend-products {
  margin-top: 3rem;
}

@media screen and (min-width: 48rem) {
  .recommend-products {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .recommend-products {
    margin-bottom: 1rem;
  }
}

.recommend-title {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #171717;
  color: #171717;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.2;
}

.recommend-products-content {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;

  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 48rem) {
  .recommend-products-content {
    margin-top: 1rem;
  }
}

.recommend-products-content-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-decoration: none;
}

.recommend-products-content-card-image {
  margin: 0;
  width: 100%;
}

.recommend-products-content-card-title {
  margin: 0.5rem 0px 0.5rem 0px;
  color: #111111;
  font-weight: normal;
  font-size: 16px;
  font-family: Lora, serif;
  line-height: 1.2;
}

.recommend-products-content-card-price {
  margin: 0;
  color: #999999;
  font-weight: normal;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.17;
}

.recommend-more {
  margin-top: 1rem;
}

@media screen and (min-width: 48rem) {
  .recommend-more {
    display: none;
  }
}

.recommend-more-content {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 4rem;

  align-items: flex-start;
}

.recommend-more-content-item {
  margin: 0;
  color: #171717;
  text-decoration: none;
  font-style: italic;
  font-size: 14px;
  font-family: Lora, serif;
  line-height: 1.215;
}

.recommend-more-content-item + .recommend-more-content-item {
  margin-top: 1rem;
}

.footer {
  padding: 2rem 0.5rem;
  background-color: #f3f3f3;
}

@media screen and (min-width: 48rem) {
  .footer {
    padding: 2rem 0;
  }
}

.footer-controls {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

@media screen and (min-width: 48rem) {
  .footer-controls {
    flex-direction: row;
  }
}

.footer-controls-button {
  padding: 0;
  border: none;
  background-color: #f3f3f3;
  color: #999999;
  text-align: left;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.35;
}

.footer-controls-button + .footer-controls-button {
  margin-top: 1rem;
}

@media screen and (min-width: 48rem) {
  .footer-controls-button + .footer-controls-button {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

.footer-help-mobile {
  text-align: center;

  align-self: center;
}

@media screen and (min-width: 48rem) {
  .footer-help-mobile {
    display: none;
  }
}

.footer-help-mobile-title {
  margin: 1.5rem 0rem 1rem 0rem;
  color: #171717;
  font-weight: bold;
  font-size: 16px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.2;
}

.footer-help-mobile-link {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #171717;
  text-decoration: none;
  font-style: italic;
  font-size: 14px;
  font-family: Lora, serif;
  line-height: 1.22;
}

.footer-navigation {
  display: none;
  margin-bottom: 2rem;
}

.footer-navigation-title {
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.24;
}

.footer-navigation-link {
  display: block;
  color: #999999;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.34;
}

.footer-navigation-link + .footer-navigation-link  {
  margin-top: 0.75rem;
}

@media screen and (min-width: 48rem) {
  .footer-navigation {
    display: block;
  }
}
